<p id="notice"><%= notice %></p>

<!-- Scribble -->
  
  <!-- @username -->
  <p>
    <strong>User: </strong><%= @scribble.user.username %>
  </p>
  
  <!-- message -->
  <p>
    <strong>Message: </strong><%= @scribble.message %>
  </p>

  <!-- when it was scribbled -->
  <p>
    <strong>Tweeted at </strong> <%= @scribble.created_at %>
  </p>


  <%= render 'shared/likes' %>
  <br><br>

  <!-- Button to Edit the scribble -->
  <%= link_to 'Edit', edit_scribble_path(@scribble), class: 'btn btn-sm btn-default' %>

  <!-- Button to the index -->
  <%= link_to 'Back to Feed', scribbles_path %>